{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} {{ yazi.baslik }} {% endblock %}

{% block content %}

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">{{ yazi.baslik }}</h1>
                            <p>Ünite Özeti</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->

    <section id="blog-details" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-7">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="single-blog blog-details two-column">
                                <div class="post-thumb">
                                    <a href="#"><img src="{{ yazi.resim.url }}" class="img-responsive" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a
                                                href="#"><small>{{ yazi.duzenlenme_tarihi|date:'d-m-y' }}</small></a></span>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                    <h2 class="post-title bold"><a href="#">{{ yazi.baslik }}</a></h2>
                                    <h3 class="post-author"><a href="#">dindefterim.com</a></h3>
                                    <p>  {{ yazi.icerik|safe }} </p>
                                    <div class="post-bottom overflow">
                                        <ul class="nav navbar-nav post-nav">
                                            <li><a href="#"><i class="fa fa-tag"></i>Creative</a></li>
                                            <li><a href="#"><i class="fa fa-heart"></i>32 Love</a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a></li>

                                            {% if  request.user == yazi.yazar %}
                                            <li><a href="{% url 'yazi-sil' slug=yazi.slug %}"><i class="fa fa-trash"></i>Yazı Sil</a></li>
                                            <li><a href="{% url 'yazi-guncelle' slug=yazi.slug %}"><i class="fa fa-edit"></i>Yazı Düzenle</a></li>
                                            {% endif %}

                                        </ul>
                                    </div>
                                    <div class="blog-share">
                                        <span class='st_facebook_hcount'></span>
                                        <span class='st_twitter_hcount'></span>
                                        <span class='st_linkedin_hcount'></span>
                                        <span class='st_pinterest_hcount'></span>
                                        <span class='st_email_hcount'></span>
                                    </div>

                                    <div>
                                    <h2 class="bold">Yorum Yap</h2>
                                        <div class="row">

                                            <hr>
                                            <div class="col-sm-2">
                                                <img src="{% static 'images/blogdetails/comment-add-3.png' %}" alt="" width="90px" height="90px">
                                            </div>

                                            <!-- YORUM EKLEME ALANI -->
                                            <div class="col-sm-10">
                                                {% if request.user.is_authenticated %}
                                                  <form method="POST">
                                                    {% csrf_token %}
                                                    {{ yorum_ekle_form | crispy }}
                                                    <input type="submit" value="Yorum Yap" class="btn btn-primary mt-3 mb-3" />
                                                  </form>
                                                {%else%}
                                                  <p>Yorum yapmak için lütfen üye giriş yapınız.</p>
                                                {%endif%}
                                            </div>
                                            <!-- YORUM EKLEME ALANI -->
                                        </div>
                                    </div>

                                <!-- =========YORUM ALANI========= -->
                                    <div class="response-area">
                                        <hr>
                                        <h2 class="bold">Yorumlar</h2>
                                        <ul class="media-list">

                                        <!-- =========YORUM SİLİNDİ MESAJI========= -->
                                        {% include 'components/message.html' %}
                                        <!-- =========YORUM SİLİNDİ MESAJI========= -->

                                            <!-- =========YORUM LİSTELEME ALANI========= -->
                                            {% for yorum in yorumlar %}
                                                <li class="media">
                                                    <div class="post-comment">

                                                        {% if yorum.yazan.avatar %}
                                                            <a class="pull-left" href="#">
                                                                <img class="media-object"
                                                                     src="{{ yorum.yazan.avatar.url }}" alt=""
                                                                     width="90px" height="90px">
                                                            </a>
                                                        {% else %}
                                                            <a class="pull-left" href="#">
                                                                <img class="media-object" src="{% static 'images/no-avatar.png' %}" alt="" width="90px" height="90px">
                                                            </a>
                                                        {% endif %}
                                                        <div class="media-body">
                                                            <span><i class="fa fa-user"></i>Posted by <a
                                                                    href="#">{{ yorum.yazan.username }}</a></span>
                                                            <p>{{ yorum.yorum }}</p>
                                                            <ul class="nav navbar-nav post-nav">
                                                                <li><a href="#"><i class="fa fa-clock-o"></i>February 11,2014</a></li>
                                                                <li><a href="#"><i class="fa fa-reply"></i>Cevapla</a></li>
                                                                {% if request.user == yorum.yazan or request.user == yazi.yazar %}
                                                                <li><a href="{% url 'yorum-sil' id=yorum.id %}"><i class="fa fa-trash"></i>Yorumu Sil</a></li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% empty %}
                                                <p>Bu yazı için hiç yorum yapılmamış. </p>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                <!-- YORUM ALANI -->


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-5">
                    <div class="sidebar blog-sidebar">
                        <div class="sidebar-item  recent">
                            <h3>Comments</h3>
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img src="images/portfolio/project1.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                    <p>posted on 07 March 2014</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img src="images/portfolio/project2.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                    <p>posted on 07 March 2014</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img src="images/portfolio/project3.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                    <p>posted on 07 March 2014</p>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-item categories">
                            <h3>Categories</h3>
                            <ul class="nav navbar-stacked">
                                <li><a href="#">Lorem ipsum<span class="pull-right">(1)</span></a></li>
                                <li class="active"><a href="#">Dolor sit amet<span class="pull-right">(8)</span></a>
                                </li>
                                <li><a href="#">Adipisicing elit<span class="pull-right">(4)</span></a></li>
                                <li><a href="#">Sed do<span class="pull-right">(9)</span></a></li>
                                <li><a href="#">Eiusmod<span class="pull-right">(3)</span></a></li>
                                <li><a href="#">Mockup<span class="pull-right">(4)</span></a></li>
                                <li><a href="#">Ut enim ad minim <span class="pull-right">(2)</span></a></li>
                                <li><a href="#">Veniam, quis nostrud <span class="pull-right">(8)</span></a></li>
                            </ul>
                        </div>
                        <div class="sidebar-item tag-cloud">
                            <h3>Tag Cloud</h3>
                            <ul class="nav nav-pills">
                                <li><a href="#">Corporate</a></li>
                                <li><a href="#">Joomla</a></li>
                                <li><a href="#">Abstract</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Product</a></li>
                            </ul>
                        </div>
                        <div class="sidebar-item popular">
                            <h3>Latest Photos</h3>
                            <ul class="gallery">
                                <li><a href="#"><img src="images/portfolio/popular1.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/portfolio/popular2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/portfolio/popular3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/portfolio/popular4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/portfolio/popular5.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/portfolio/popular1.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#blog-->

{% endblock %}