{% extends 'base.html' %}
{% load static %}


{% block title %}İletişim | dindefterim {% endblock %}
{% block content %}

<section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">İletişim</h1>
                            <p>Şuan Yapım Aamasında | En kısa zamanda iletişim sayfamızı açmak için çalışıyoruz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section>
        <div class="container" style="margin-bottom: 3px;">
            <div class="" style="background: #f7f7f7;">
                <h4>İletişim</h4>
                <form action="" method="POST">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                    {{ form.as_p}}
                    <input type="submit" value="Gönder" class="btn btn-info">
                </form>

            </div>
        </div>
    </section> <!--/#map-section-->

{% endblock %}