{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Yazı Guncelle | dindefterim {% endblock %}
{% block content %}

<section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Yazı Güncelleme</h1>
                            <p>Yazıyı aşağıdaki formu kullanarak güncelleyebilirsiniz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section><!--/#action-->


<form action="">
    {% csrf_token %}
    {{ form.media }}
    {{ form.crispy }}
    <input type="submit" class="btn btn-danger mt-3 mb-3" value="Yazıyı Güncelle">
</form>

{% endblock %}