{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title%} Yazı Güncelle {% endblock%}

{% block content %}

<section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Yazıyı Güncelle</h1>
                            <p>Yazıyı aşağıdaki formu kullanarak güncelleyebilirsiniz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

    <!--/#action-->

    <section id="blog" class="padding-top">
        <div class="container">
            <div class="row">
                <!-- =============lEFT SIDEBAR============== -->
                <div class="col-sm-12">
                    <div class="row">
                         <!-- ============= YAZI GÜNCELLEME ALANI ============== -->
                        <div class="col-md-6 col-sm-12 blog-padding-right">
                            <div class="single-blog two-column">
                                <div class="post-content">
                                    <form enctype="multipart/form-data" method="POST">
                                        {% csrf_token %}
                                        {{ form.media }}
                                        {{ form|crispy }}
                                        <input type="submit" class="btn btn-danger mt-3 mb-3" value="Yazı Güncelle" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- =============ROW END============== -->
                 </div>
                <!-- =============RIGHT SIDEBAR============== -->

            </div>
        </div>
    </section>
{% endblock %}