{% load static %}

<!--/#footer-->
 <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="{% static "images/home/under.png" %}" class="img-responsive inline" alt="">
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="testimonial bottom">
                        <h2>dindefterim.com</h2>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="{% static "images/home/kuran-81x81.png" %}" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Hayra vesile olan, hayrı yapan gibidir.</blockquote>
                                <h3><a href="#">- Hz Muhammed</a></h3>
                            </div>
                         </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="{% static "images/home/kuran-1-81x81.png" %}" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>(Mü’min) kardeşinle münakaşa etme, onun hoşuna gitmeyecek şakalar yapma ve ona yerine getirmeyeceğin bir söz verme.</blockquote>
                                <h3><a href="">- Hz Muhammed</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>İletişim</h2>
                        <address>
                        E-mail: <a href="bilgi@dindefterim.com">bilgi@dindefterim.com</a> <br>
                        Telefon: +1 (123) 456 7890 <br>
                        Fax: +1 (123) 456 7891 <br>
                        </address>

                        <h2>Adres</h2>
                        <address>
                        www.dindefterim.com <br>
                        İstanbul, Fatih <br>
                        Türkiye <br>
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <!-- COL - MD 4   COL SM 12 -->
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; dindefterim.com 2021. All Rights Reserved.</p>
                        <p>Designed by <a target="_blank" href="http://www.dindefterim.com">dindefterim</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->